In [28]:
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

In [56]:
df = pd.read_csv('machines.csv',sep=";")
df

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [58]:
round(np.mean(df['old_machine']),2)

43.23

In [60]:
st.ttest_1samp(df['new_machine'],43.23)

Ttest_1sampResult(statistic=-5.043318535038297, pvalue=0.0006966376076759338)

In [61]:
print('p value (single tailed): ',st.ttest_1samp(df['new_machine'],43.23)[1]/2)

p value (single tailed):  0.0003483188038379669

From pvalue null hypothesis must go. we can say that two machines don't have the same average. and from the statistic it's shown that inclination is negative. which means new_machine has lower average. and also that means that new_machine is faster.

In [63]:
df2 = pd.read_csv('pokemon.csv',sep=",")
df2

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [66]:
p_sample = df2[['Attack','Defense']].sample(50)
p_sample

     Attack  Defense
287      70       61
284      55       35
629      50       62
609      60       75
395      50       50
365      70       90
430      70      160
536      65      107
636      45       70
684     124       80
334      40       55
65       50       40
494     170      115
700     129       90
608      35       50
598     100       85
518      95       67
433      89       85
727      36       38
344      60       45
547      80       80
445      85       60
450     120       79
244      40       70
711     170      100
278     120       70
603      45       59
319      91       63
752      52       60
310     130       80
447      85       51
163     190      100
424     180      160
195      75       85
593     105       85
342      73       55
66       65       65
674      70       40
671      87       60
607      67       85
302      50      100
772      58       57
109      50       70
95       80       50
408     135       80
623      30       85
145      65       60
269      90      130
418     100      120
67       95       95

In [67]:
st.ttest_ind(p_sample['Attack'], p_sample['Defense'], equal_var=False)

Ttest_indResult(statistic=0.9858626064709387, pvalue=0.32688982817538903)

Our hypothesis is that the defense and attack scores are equal. pvalue is greater than 0.05 so null hypothesis stays. which means defense and attack scores are not equal.

In [72]:
df3 = pd.read_excel('anova_lab_data.xlsx')
df3

   Power   Etching Rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [74]:
df3['Power_w'] = df3.groupby('Power ').cumcount()

In [77]:
df3_pivot = df3.pivot(index='Power_w', columns='Power ', values='Etching Rate')
df3_pivot

Power    160 W  180 W  200 W
Power_w
0         5.43   6.24   8.79
1         5.71   6.71   9.20
2         6.22   5.98   7.90
3         6.01   5.66   8.15
4         5.59   6.60   7.55

In [79]:
st.f_oneway(df3_pivot['160 W'],df3_pivot['180 W'],df3_pivot['200 W'])

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [80]:
df3_pivot.mean()

Power
160 W    5.792
180 W    6.238
200 W    8.318
dtype: float64

Our null hypothesis is their means are same. so with that we can understand that there is no effect of power of the plasma beam on etching rate.

Our alternate hypothesis is their means are different. so with that we can understand that there is an effect of power of the plasma beam on etching rate.

the sigficance level is 0.95

In conclusion pvalue is super low than 0.05. so null hypothesis must go.